{% extends "board/base.html" %}
{% block content %}

<div class="card mb-3">
    <div class="card-header">
        {{ post.post_title }}
    </div>
    <div class="card-body">
        <p class="card-text">
            {{ post.post_text }}
        </p>
    </div>
    <div class="card-footer text-muted font-italic">
        {{ post.post_date }}
    </div>
</div>
<h5>Комментарии:</h5>
<div class="card bg-light mb-3">
    <ul class="list-group list-group-flush">
    {% if post.comments.all %}
        {% for comment in post.comments.all %}
        <li class="list-group-item d-flex justify-content-between">
            #{{ comment.id }}
            {{ comment.comment_text }}
            <span class="font-italic">{{ comment.comment_date }}</span>
        </li>
        {% endfor %}
    {% else %}
        <li class="list-group-item text-muted font-italic">Комментариев нет</li>
    </ul>
    {% endif %}
</div>

{% load crispy_forms_tags %}

{% crispy form %}

{% endblock %}