{% extends "board/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="card mb-3">
        <div class="card-header">
            {{ post.title }}
        </div>
        <div class="card-body">
            <div class="card-text">
                    <div class="d-flex flex-row justify-content-start mb-2">
                        {% if post.image %}
                        <img class="align-self-start mr-2" src="{{ post.image.url }}">
                        {% endif %}
                        <p>{{ post.text }}</p>
                    </div>
                </div>
        </div>
        <div class="card-footer text-muted font-italic">
            {{ post.date }}
        </div>
    </div>

    <h5>Комментарии:</h5>
    <div class="card bg-light mb-3">
        <ul class="list-group list-group-flush">
        {% if post.comments.all %}
            {% for comment in post.comments.all %}
            <li class="list-group-item" id="{{ comment.pk }}">
                <p><span class="comment_id">[{{ comment.id }}]</span> <a href="" class="comment_reply">Ответить</a></p>
                {% if comment.image %}
                    <img src='{{ comment.image.url }}'>
                {% endif %}
                <p>{{ comment.text|safe|linebreaks }}</p>
                <span class="font-italic">{{ comment.date }}</span>
                {% if comment.replies.all %}
                <p>
                    Ответы:
                    {% for reply in comment.replies.all %}
                    <a href="#{{ reply }}">{{ reply }}</a>
                    {% endfor %}
                </p>
                {% endif %}
            </li>
            {% endfor %}
        {% else %}
            <li class="list-group-item text-muted font-italic">Комментариев нет</li>
        </ul>
        {% endif %}
    </div>
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form %}
    </form>

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        let comments = document.querySelectorAll('.comment_id');
        let reply_links = document.querySelectorAll('.comment_reply')
        let commentTextField = document.getElementsByTagName('textarea')[0];
        for (let i = 0; i < comments.length; i++) {
            reply_links[i].addEventListener("click", function(event) {
                event.preventDefault();
                let commentId = comments[i].innerHTML
                let truncatedCommentId = commentId.substring(1, commentId.length - 1)
                if (commentTextField.value === '') {
                    commentTextField.value += '>>' + truncatedCommentId;
                } else {
                    commentTextField.value += '\n>>' + truncatedCommentId;
                }
                
            });
        }
    </script>
{% endblock %}